.box {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
}

.box > form > div {
  margin: 10px;
}

.box > form > input[type='submit'] {
  margin: 10px;
}

.box > form > div > input[type='text'] {
  display: block;
  width: 100%;
}

.box > form > div > select {
  display: block;
  width: 100%;
}

.box > form > div > input[type='password'] {
  display: block;
  width: 100%;
}

.box > form > div > textarea {
  width: 100%;
}

.list-to-table {
  list-style-type: none;
}

.list-to-table > li {
  display: table-row;
  width: 100%;
}

.list-to-table > li > p {
  vertical-align: middle;
  overflow: hidden;
  margin-right: 5px;
  display: inline-block;
  width: 22%;
  margin-bottom: 0px;
}

.list-to-table > li > p > span {
  margin-right: 5px;
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 5px;
}

.wrapper > ul {
  list-style-type: none;
}
