.box {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
}

.box > form > div {
  margin: 10px;
}

.box > form > input[type='submit'] {
  margin: 10px;
}

.box > form > div > input[type='text'] {
  display: block;
  width: 100%;
}

.box > form > div > select {
  display: block;
  width: 100%;
}

.box > form > div > input[type='password'] {
  display: block;
  width: 100%;
}

.box > form > div > textarea {
  width: 100%;
}

.box > ul {
  list-style-type: none;
  padding-left: 5px;
}

.box > ul > li > p > span {
  margin-left: 10px;
}
